@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Comfortaa', sans-serif;
}

@layer base {
  .font-outline-1 {
    -webkit-text-stroke: 1px black;
  }
  .text-orange {
    color: #d89701;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
  .border-1 {
    border-width: 1px;
  }
}
